<div class="uk-grid-collapse uk-flex-between" uk-grid>
    <h2>Produtos</h2>
    <p>
        <button class="uk-button uk-button-primary">CADASTRAR</button>
    </p>
</div>
<hr />

<div *ngIf="loading">Carregando...</div>

<div class="uk-overflow-auto">
    <table *ngIf="!loading && produtos.length > 0" class="uk-table uk-table-striped">
      <thead>
        <tr>
          <th>Código</th>
          <th>Descrição</th>
          <th>Status</th>
          <th>Preço</th>
          <th>Departamento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of produtos">
          <td>{{ p.codigo }}</td>
          <td>{{ p.descricao }}</td>
          <td>{{ p.status ? 'Ativo' : 'Inativo' }}</td>
          <td>{{ p.preco | currency:'BRL':'symbol':'1.2-2' }}</td>
          <td>{{ p.departamentoCodigo }}</td>
        </tr>
      </tbody>
    </table>
</div>
