<h2>
    <a href="/produtos" uk-icon="icon: arrow-left; ratio: 2"></a>
    <span>Cadastrar Produto</span>
</h2>
<hr />

<form [formGroup]="produtoForm" (ngSubmit)="id ? atualizar() : post()" class="uk-form-stacked uk-grid-small" uk-grid>
    <div class="uk-width-1-6">
        <label class="uk-form-label">Código</label>
        <div class="uk-form-controls">
            <input class="uk-input" type="text" formControlName="codigo" placeholder="Ex: 010">
            <div class="uk-text-danger" *ngIf="produtoForm.get('codigo')?.touched && produtoForm.get('codigo')?.invalid">
                O código é obrigatório
            </div>
        </div>
    </div>
    <div class="uk-width-5-6">
        <label class="uk-form-label">Descrição</label>
        <div class="uk-form-controls">
            <input class="uk-input" type="text" formControlName="descricao">
            <div class="uk-text-danger" *ngIf="produtoForm.get('descricao')?.touched && produtoForm.get('descricao')?.invalid">
                A descrição é obrigatória
            </div>
        </div>
    </div>
    <div class="uk-width-1-3">
        <label class="uk-form-label">Preço</label>
        <div class="uk-form-controls">
            <input class="uk-input" type="number" formControlName="preco">
            <div class="uk-text-danger" *ngIf="produtoForm.get('preco')?.touched && produtoForm.get('preco')?.invalid">
                O preço deve ser maior que zero
            </div>
        </div>
    </div>
    <div class="uk-width-1-3">
        <label class="uk-form-label">Departamento</label>
        <div class="uk-form-controls">
            <select class="uk-select" formControlName="departamentoCodigo">
                <option value="">Selecione...</option>
                <option value="010">Bebidas</option>
                <option value="020">Congelados</option>
                <option value="030">Laticínios</option>
                <option value="040">Vegetais</option>
            </select>
            <div class="uk-text-danger" *ngIf="produtoForm.get('departamentoCodigo')?.touched && produtoForm.get('departamentoCodigo')?.invalid">
                O departamento é obrigatório
            </div>
        </div>
    </div>
    <div class="uk-width-1-3">
        <label class="uk-form-label">Ativo</label>
        <div class="uk-form-controls">
            <select class="uk-select" formControlName="status">
                <option [ngValue]="null">Selecione...</option>
                <option [ngValue]="true">Sim</option>
                <option [ngValue]="false">Não</option>
            </select>
            <div class="uk-text-danger" *ngIf="produtoForm.get('status')?.touched && produtoForm.get('status')?.invalid">
                O Status é obrigatório
            </div>
        </div>
    </div>
    <div class="uk-width-1-1 uk-margin-top uk-text-right">
        <a href="/produtos" class="uk-button uk-button-default uk-margin-right">Cancelar</a>
        <button class="uk-button uk-button-primary" type="submit" [disabled]="produtoForm.invalid">Salvar</button>
    </div>
</form>
